current_dir = File.dirname(__FILE__)
log_level                :info
log_location             STDOUT
node_name                "<%= node["hostname"].downcase %>"
client_key               "#{current_dir}/client.pem"
validation_client_name   "bcplab-validator"
validation_key           "#{current_dir}/bcplab-validator.pem"
chef_server_url          "https://picochefd01.credito.bcp.com.pe/organizations/bcplab"
cookbook_path            ["#{current_dir}/../cookbooks"]
ssl_verify_mode          :verify_none
knife[:editor] = "Notepad"